<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Главная - Доска объявлений </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<h1>Объявления</h1>
		<div>
    		<a href="{% url 'index' %}">Главная</a>
    		<a href="{% url 'add' %}">Добавить</a>
    		{% for rubric in rubrics %}
    		<a href="{% url 'by_rubric' rubric.pk %}">{{rubric.name}}</a>
    		{% endfor %}
		</div>

		<!--<div>
			<h2>{{ bb.title }} </h2>
			<p>{{ bb.content }} </p>
			<p><a href="/bboard/{{ bb.rubric.pk }}/">{{bb.rubric.name}}</a></p>
			<p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
		</div> -->
		
		<table class="table table-striped">
    	    <tbody>
        	    {% for bb in bbs %}
        	    <tr>
                    <td>{{ bb.title }}</td>
                    <td>{{ bb.content }}</td>
                    <td><a href="/bboard/{{ bb.rubric.pk }}/">{{bb.rubric.name}}</a></td>
                    <td>{{ bb.published|date:"d.m.Y H:i:s" }}</td>
                </tr>
                {% endfor %}
            </tbody>
		</table>
		
	</body>
</html>


